@font-face {
    font-family: Cthulhumbus;
    src: url(fonts/JMH\ Cthulhumbus\ UG.ttf);
  }

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img_pollo_locco/img/10_own_images/desert-6814275_1280.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cthulhumbus;
    margin: 0;
}

canvas{
    background-color: black;
    border: 2px solid black;
    display: block;
    z-index: 1;
}

.control{
background-color: #C98345;
border: 2px solid black;
margin-top: 30px;
padding-left: 5px;
padding-right: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.d-none{
display: none;
}

#startScreen{
    position: relative;
    width: 720px;
    height: 480px;
    display: flex;
    z-index: 100;
    margin-bottom: -480px;
    background-color: black;
}
img{
    width: 723px;
    height: 483px;
}
/* mobile versions */

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}