@font-face {
    font-family: Cthulhumbus;
    src: url(fonts/JMH\ Cthulhumbus\ UG.ttf);
  }

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img_pollo_locco/img/10_own_images/desert-6814275_1280.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cthulhumbus;
    margin: 0;
}

canvas{
    background-color: black;
    border: 4px solid black;
    display: block;
    z-index: 1;
    position: relative;
    top: 22px
}

.control{
background-color: #C98345;
border: 2px solid black;
margin-top: 30px;
padding-left: 5px;
padding-right: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#startScreen{
    position: absolute;
    display: flex;
    z-index: 100;
    top: 109px;
    background-color: black;
    justify-content: center;
    align-items: center;
}

#portraitStart{
    position: absolute;
    display: none;
    z-index: 101;
    background-color: black;
    justify-content: center;
    align-items: center;
}
img{
    width: 720px;
    height: 480px;
}

.storyBoardContainer{
    background-color: #C98345;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    padding: 10px;
    flex-direction: column;
}

#storyBoard{
    background-color: #C98345;
    position: relative;
    width: 720px;
    height: 480px;
    display: none;
    z-index: 101;
    margin-bottom: -480px;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.closeBtn{
    background-color: gold;
border: 1px solid black;
border-radius: 50%;
height: 60px;
width: 60px;
cursor: pointer;
font-family: Cthulhumbus;
margin-top: 60px;
}

.closeBtn:hover{
    border: 2px solid rgb(0, 0, 0);
    transform: scale(1.2);
}

.menu{
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}
.start{
background-color: green;
border: 1px solid black;
border-radius: 50%;
height: 60px;
width: 60px;
cursor: pointer;
font-family: Cthulhumbus;
}

.start:hover{
    border: 2px solid gold;
    transform: scale(1.2);
}

.music {
    border: 1px solid black;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
    background-image: url('img_pollo_locco/img/10_own_images/soundOn.png');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    background-color: blue;
    cursor: pointer;
}

.music:hover{
    border: 2px solid gold;
    transform: scale(1.2);
}

.isAbout{
background-color: gold;
border: 1px solid black;
border-radius: 50%;
height: 60px;
width: 60px;
cursor: pointer;
font-family: Cthulhumbus;
}

.isAbout:hover{
    border: 2px solid rgb(0, 0, 0);
    transform: scale(1.2);
}

.mobileButtons{
    position: absolute;
    width: 720px;
    height: 50vh;
    display: none;
    z-index: 103;
    top: 124px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.mobileActionBtn{
    background-color: gold;
border: 1px solid black;
border-radius: 50%;
height: 50px;
width: 50px;
font-family: Cthulhumbus;
display: flex;
justify-content: center;
align-items: center;
}

.buttonsBottom{
    display: flex;
    justify-content: space-between;
    width: 720px;
}

.buttonsTop{
    display: flex;
    justify-content: space-between;
    width: 720px;
}

.buttonsDirection{
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 10px;
}

.buttonsAction{
    display: flex;
    justify-content: end;
    align-items: end;
}


.mobile_image{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

#mobile_throw{
    margin-left: 10px;
}

#mobile_right{
    margin-left: 10px;
}

/* mobile versions */

@media only screen and (max-width: 720px) {
    body{
        background-image:none;
        height: 100%;
    }

    h1{
        display: none;
    }

    .control{
        display: none;
    }

    .menu{
        display: none;
    }
    
    canvas {
        width: 100%;
        top: 0;
    }

    img{
        width: 100%;
        top: 0;
    }

    #startScreen{
        width: 100%;
        top: 0;
    }

    .mobileButtons {
        display: flex;
        width: 100%;
        top: 0;
    }

    .buttonsTop{
        width: 100%;
    }

    .buttonsBottom{
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
  body{
    overflow-y: hidden;
  }
    
    canvas {
        height: 100vh;
        position: absolute;
    
    }

    img{
        height: 100vh;
    }

    #startScreen{
        height: 100vh;
        top: 0;
    }

    .mobileButtons{
        display: flex;
        height: 100vh;
    }

    .buttonsTop{
     z-index: 1000;
        top: 0;
        position: fixed;
    }

    .buttonsBottom{
        height: 100vh;
        bottom: 0;
        position: fixed;
    }
}

@media screen and (orientation:portrait){

    #startscreenImage{
        display: none;
    }

    #portraitStart{
        display: block;
    }
    .mobileButtons{
        display: none;
    }
}